/* MODAL TEST */
/* vai ocupar toda a tela com o fundo preto transparente */
.modal{
  width: 100%;
  height: 100vh; /* vh altura da tela*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* vai ser onde o modal aparece, a coisa por cima da tela preta transparente */
.containerModal{
  background-color: white;
  color: black;
  width: 60%;
  height: 60%;
  border-radius: 20px;
}

.closeModal{
  background-color: transparent;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  right: calc(-100% + 64px);
  top: 16px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
}

.closeModal::before{
  transform: rotate(0);
}

.closeModal::after{
  content: ' ';
  position: absolute;
  width: 2.5px;
  height: 24px;
  background-color: black;
  transform: rotate(45deg);
}

.closeModal::before{
  transform: rotate(45deg);
}

/* .contentModal{

} */
/* ================ */
.TestBranch{
  color: red;
}

.Flex{
  display: flex;
  /* justify-content: space-between; */
  align-items: center; 
}
.Header{
  background-color: rgba(255,255,255,1);
  box-shadow: inset 0 -1px 0 0 #dadce0;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
}
.Nav{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: min-content;
  padding: 8px;
  height: 100%;
}
.ColorNav{
  color: #5f6368;
  opacity: 1;
  cursor: pointer;
}

.Fake{
  padding-left: 4px;
  display: inline-block;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 22px;
  line-height: 24px;
  position: relative;
  top: -1.5px;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
}
.Icons{
  font-size: 24px;
  margin: 0 4px;
  padding: 12px;
  height: 24px;
  width: 24px;
}

.Circle{
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  padding: 12px;
  overflow: hidden;
  flex: 0 o auto;
  height: 24px;
  width: 24px;
}

.Circle:hover{
  color: #202124;
  opacity: .87;
  background-color: rgba(95,99,104,0.157);
  outline: none;
}
/* .Menu{
  margin: 0 4px;
  padding: 12px;
  height: 24px;
  width: 24px;
  flex: 0 0 auto;
} */

.Logo{
  width:40px;
  height:40px;
  padding-right: 4px;
  border: 0;
  vertical-align: middle;

}

.Profile{
  display: inline-block;
  margin: 0 4px;
  overflow: hidden;
  flex: 0 o auto;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
}

.ProfileImg{
  background-size: 32px 32px;
  border: 3px solid transparent;
  border-radius: 50%;
  width: 32px;
}

.ProfileImg:hover{
  opacity: .87;
  border: 3px solid rgba(95,99,104,0.157);
  outline: none;
}

.Search{
  background-color: #f1f3f4;
  border-radius: 8px;
  border: 1px solid transparent;
  position: relative;
  max-width: 720px;
  width: 100%;
  height: 100%;
}

.SearchInput{
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  position: absolute;
  left: 50px;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-size: 14px;
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  padding: 11px 0;
  color: #828282;
}

.BtnSearch{
  background-color: transparent;
  border: none;
  position: absolute;
  line-height: 0;
  padding: 0 5px;
  font-size: 24px;
  width: 62px;
  height: 52px;
}

.Board{
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
}

.BoardMain{
  background-color: lightgreen;
  width: 100%;
  padding-top: 8px;
  /* position: absolute;
  left: 280px;
  top: 64px; */
}

.SideBar{
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  position: fixed;
  top: 64px;
  height: calc(100% - 64px);
  width: 280px;
}

.OptionsContainer{
  padding-left: 12px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 0 25px 25px 0;
  /* color: #202124; */
  color: #5f6368;
  opacity: 1;
  display: flex;
  align-items: center;
  /* letter-spacing: 0.1785714rem; */
  letter-spacing: 0.02em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 48px;
  min-width: 48px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

/* .OptionsContainer{
  background-color: #feefc3;
} */

.OptionsIcon{
  /* width: 24px;
  height: 24px; */
  font-size: 24px;
  padding: 0 12px;
  flex-shrink: 0;
}

.OptionsText{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 20px;
}

.ContainerItems{
  background-color: lightcoral;
  /* margin-top: 10vh; */
  padding-top: 25vh;
  position: absolute;
  left: 280px;
  top: 64px;
}

.ContainerNotes{
  column-count: 4;
	column-gap: 1em;
  /* width: 70%; */
}

.NotesAreaTitle{
  color: #5f6368;
  letter-spacing: .07272727em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  /* position: absolute; */
  margin: 32px 32px 8px;
  width: max-content;
}

.Item{
  background-color: #eee;
  display: inline-block;
  /*display: flex;*/
  margin: 16px 16px 0px 16px;
  border-radius: 8px;
  width: 100%;
}


.ItemContent{
  padding: 0;
  margin: 0;
}

.ItemTitle{
  color: #202124;
  letter-spacing: .00625em;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
  /* padding: 16px 16px 0 16px; */
  padding: 0px 16px 0 16px;
}

.ItemMessage{
  color: #202124;
  letter-spacing: .01428571em;
	font-family: Roboto, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
	padding: 4px 16px 12px 16px;
}

/* .ItemMessage{
  letter-spacing: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5rem;
} */ /* pra quando for pouca coisa escrita até a lenght que eu determinar???*/

.Both{
  font-variant-ligatures: none;
	outline: none;
	/* white-space: pre-wrap; */
	word-wrap: break-word;
}

.NotesIconsHead{
  margin: 0;
  padding: 0;
  display: inline;
  position: relative;
  /* display: none; */
}

.NoteIconHeadCheck{
  background-color: black;
  color: white;
  font-weight: 500;
  width: max-content;
  position: relative;
  left: -10px;
  top: -8px;
  padding: 3px;
  border-radius: 50%;
  height: 16px;
  font-size: 16px;
}

.NoteIconHeadPin{
  float: right;
  position: relative;
  top: -20px;
  /* right: 15px; */
  height: 20px;
  font-size: 20px;
  color: #5f6368;
  padding: 10px;
}

.NoteIconHeadPin:hover{
  color: #202124;
  background-color: rgba(95,99,104,0.157);
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

.FormInput{
  background-color: #fff;
  border: #e0e0e0;
  border-radius: 8px;
  /* padding: 5px; */
  position: relative;
  top: 50px;
  left: 150px;
  width: 598px;
  height: 134px;
  margin: 32px auto 16px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
  z-index: 1;
}

.FormIcons{
  display: flex;
  justify-content: space-between;
  /* line-height: 26px; */
  margin: 10px 0 6px 0;
  padding: 0 16px;
}

.FormIconsItself{
  /* color:#202124; */
  color: #5f6368;
  opacity: 1;
  font-size: 18px;
  height: 18px;
  /* flex-grow: 1; */
  /* align-self: center; */
  cursor: pointer;
  padding: 5px;
}

.FormIconsItself:hover{
  color: #202124;
  background-color: rgba(95,99,104,0.157);
  border-radius: 50%;
}

.PinBtn{
  color: #5f6368;
  opacity: 1;
  font-size: 20px;
  height: 20px;
  position: relative;
  top: -90px;
  cursor: pointer;
  padding: 8px;
}

.PinBtn:hover{
  color: #202124;
  background-color: rgba(95,99,104,0.157);
  border-radius: 50%;
}

.NewNote{
  display: flex;
  flex-direction: column;
}

.FormLabel{
  background-color: lightcoral;
}

.Title{
  background-color: transparent;
  color: #202124;
  /* color: #80868b; */
  border: transparent;
  padding: 10px 15px 10px 15px;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: .00625em;
}

.NoteItself{
  /* background-color: transparent; */
  border: none;
  height: 22px;
  padding: 12px 16px 12px 16px;
  margin: 0;
  color: #202124;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: .01428571em;
}

.CloseBtn{
  /* color: rgba(0,0,0,0.87); */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  border-radius: 4px;
  /* padding-left: 90px; */
  /* text-align: end; */
}

.CloseBtn:hover{
  color: #202124;
  background-color: rgba(95,99,104,0.157);
  border-radius: 4px;
}
/* [contenteditable=true]{
  color: #202124;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: .01428571em;
}
[contenteditable=true]:empty::before{
  content: attr(placeholder);
} */

.HideForm{
  height: 50px;
}

.Send{
  background-color: transparent;
  border: transparent;
  width: 6%;
  align-self: end;
  font-size: 20px;
  cursor: pointer;
  padding-left: 1px;
  color: gray;
}

.Side-nav{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #252931;
}

h1{
  color: white;
}

.None{
  display: none;
}

.Block{
  display: block;
}

.More{
  cursor: pointer;
  color: white;
  font-size: 15px;
  border: transparent;
  background-color: transparent;
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Edit{
  cursor: pointer;
  color: gray;
  font-size: 15px;
  border: transparent;
  background-color: transparent;
  padding: 0;
  display: inline;
}

.DeleteForm{
  display: inline;
}
.Delete{
  cursor: pointer;
  color: gray;
  font-size: 15px;
  border: transparent;
  background-color: transparent;
}

.InputDelete{
  display: none;
}

.Save{
  display: inline;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  font-size: 15px;
  color: gray;
}

.Close{
  display: inline;
}

.ShowMessage{
  margin-left: 5px;
}

textarea{
  resize: none;
}

.EditTextLabelTitle{
  padding: 0 16px 0 16px;
}

.EditTextInputTitle{
  letter-spacing: .00625em;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-size: 1rem;
	/*font-weight: 500; */
	font-weight: bold;
	line-height: 1.5rem;
  background-color: lightcoral;
  border: none;
  padding-top: 16px;
  width: 85%;
}

.EditTextLabelMessage{
  padding: 0 16px 12px 16px;
}

.EditTextInputMessage{
  letter-spacing: .01428571em;
	font-family: Roboto, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
  background-color: lightgreen;
  border: none;
  padding-top: 4px;
  width: 85%;
}

