/* MODAL TEST */
/* vai ocupar toda a tela com o fundo preto transparente */
.modal{
  width: 100%;
  height: 100vh; /* vh altura da tela*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* vai ser onde o modal aparece, a coisa por cima da tela preta transparente */
.containerModal{
  background-color: white;
  color: black;
  width: 60%;
  height: 60%;
  border-radius: 20px;
}

.closeModal{
  background-color: transparent;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  right: calc(-100% + 64px);
  top: 16px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
}

.closeModal::before{
  transform: rotate(0);
}

.closeModal::after{
  content: ' ';
  position: absolute;
  width: 2.5px;
  height: 24px;
  background-color: black;
  transform: rotate(45deg);
}

.closeModal::before{
  transform: rotate(45deg);
}

/* .contentModal{

} */
/* ================ */
.TestBranch{
  color: red;
}

.App {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  /* background-color: #282c34;
  min-height: 100vh; */
  /* width: 100%; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  padding-top: 40vh;
}

.ContainerItems{
  column-count: 4;
	column-gap: 1em;
	width: 70%;
}

.Item{
  background-color: #eee;
  display: inline-block;
  /*display: flex;*/
  margin: 0 0 1em;
  border-radius: 8px;
  width: 100%;
}

.ItemContent{
  padding: 0;
  margin: 0;
}

.ItemTitle{
  letter-spacing: .00625em;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-size: 1rem;
	/*font-weight: 500; */
	font-weight: bold;
	line-height: 1.5rem;
	padding: 16px 16px 0 16px;
}

.ItemMessage{
  letter-spacing: .01428571em;
	font-family: Roboto, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
	padding: 4px 16px 12px 16px;
}

.Both{
  font-variant-ligatures: none;
	outline: none;
	/* white-space: pre-wrap; */
	word-wrap: break-word;
}

/* .NoteBtn{
  display: flex;
} */

.App-link {
  color: #61dafb;
}

.FormInput{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: white;
  border-radius: 9px;
  padding: 5px;
  /* margin: 32px; */
  width: 40%;
  position: absolute;
  top: 10vh;
}

.NewNote{
  display: flex;
  flex-direction: column;
}

.FormLabel{
  background-color: lightcoral;
}

.Title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: transparent;
  /* width: 99%; */
  height: 30px;
  padding-left: 20px;
  padding-top: 5px;
  color: gray;
  font-size: 20px;
  font-weight: bold;
}

.NoteItself{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: transparent;
  margin-top: 10px;
  /* width: 99%; */
  height: 100px;
  padding-left: 20px;
  padding-top: 10px;
  color: gray;
}

.HideForm{
  height: 50px;
}

.Send{
  background-color: transparent;
  border: transparent;
  width: 6%;
  align-self: end;
  font-size: 20px;
  cursor: pointer;
  padding-left: 1px;
  color: gray;
}

.Side-nav{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #252931;
}

h1{
  color: white;
}

.None{
  display: none;
}

.Block{
  display: block;
}

.More{
  cursor: pointer;
  color: white;
  font-size: 15px;
  border: transparent;
  background-color: transparent;
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Edit{
  cursor: pointer;
  color: gray;
  font-size: 15px;
  border: transparent;
  background-color: transparent;
  padding: 0;
  display: inline;
}

.DeleteForm{
  display: inline;
}
.Delete{
  cursor: pointer;
  color: gray;
  font-size: 15px;
  border: transparent;
  background-color: transparent;
}

.InputDelete{
  display: none;
}

.Save{
  display: inline;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  font-size: 15px;
  color: gray;
}

.Close{
  display: inline;
}

.ShowMessage{
  margin-left: 5px;
}

textarea{
  resize: none;
}

.EditTextLabelTitle{
  padding: 0 16px 0 16px;
}

.EditTextInputTitle{
  letter-spacing: .00625em;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-size: 1rem;
	/*font-weight: 500; */
	font-weight: bold;
	line-height: 1.5rem;
  background-color: lightcoral;
  border: none;
  padding-top: 16px;
  width: 85%;
}

.EditTextLabelMessage{
  padding: 0 16px 12px 16px;
}

.EditTextInputMessage{
  letter-spacing: .01428571em;
	font-family: Roboto, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
  background-color: lightgreen;
  border: none;
  padding-top: 4px;
  width: 85%;
}

